<!--<button class="open-button" (click)="openForm()">Chat</button>-->
<div id="chat-circle" class="btn btn-raised" (click)="openForm()">
  <div id="chat-overlay"></div>
  <i class="fa-regular fa-message"></i>
</div>

<div class="container" #myForm [ngClass]="formChat==true? 'show':'hide'">
  <div class="box">
    <span class="chat-box-toggle"><i class="material-icons" style="text-align: right" (click)="openForm()">X</i></span>
    <div class="chat-list" #chatListContainer>
      <ng-container *ngFor="let item of messageList">
        <div class="chat-item"
             [ngClass]="{'right' : item?.senderEmail == firstUserName, 'left': item?.senderEmail != firstUserName}">
          <img id="avatar" [src]="item.senderEmail==firstUserName?human.profileImageUrl:bot.profileImageUrl">
          <p id="message-body">{{item?.replyMessage}}</p>
          <span class="avatar">{{item?.time|date:"dd/MM/yyyy"}}</span>
        </div>
      </ng-container>
    </div>
    <div class="chat-footer">
        <input matInput id="chat-textarea" [(ngModel)]="chatInputMessage" required (keyup.enter)="sendMessage()">
        <button id="send-button" (click)="sendMessage()" [disabled]="chatInputMessage === ''">
          <i class="fa-regular fa-paper-plane"></i>
        </button>
    </div>
  </div>
</div>
<div class="caption">
  <button id="clear-button" (click)="clearConversation()" >
    clear conversation
  </button>
</div>
