<!-- mini cart start -->
<div class="sidebar-cart-active">
  <div class="sidebar-cart-all">
    <a class="cart-close" href="#"><i class="icon_close"></i></a>
    <div class="cart-content">
      <h3>Shopping Cart</h3>
      <ul *ngFor="let item of cartItems;index as i">
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="{{item.book.img_url}}" alt=""></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">Simple Black T-Shirt {{item.book.name}}</a></h4>
            <span> {{item.quantity}} × ${{item.book.price}}	</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
      </ul>
      <div class="cart-total">
        <h4>Subtotal: <span>${{totalPrice}}</span></h4>
      </div>
      <div class="cart-checkout-btn">
        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
        <h2>{{item}}</h2>
      </div>
    </div>
  </div>
</div>
