

<div class="container-fluid" style="top: 190px;position: relative">
  <h2 style="text-align: center">Quản lý danh sách sách</h2>
  <div  class="container-fluid" style="margin-bottom: 20px">
    <button type="button" class="btn btn-primary"><a data-toggle="modal" data-target=".createbook"><i
      class="icon-user"></i><span
      class="cart-amount white">Thêm sách</span></a></button>
  </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Loại sách</th>
        <th scope="col">Tên sách</th>
        <th scope="col">Năm phát hành</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Giá</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>


      </tbody>
    </table>
</div>
<!-- Extra large modal -->

<div class="modal fade createbook" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

