<section class="shop_section layout_padding mt-45 mb-60">
  <div class="cart-main-area pt-115 pb-120">
    <div class="container">
      <h3 class="cart-page-title">Giỏ hàng của bạn</h3>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <form action="#">
            <div class="table-content table-responsive cart-table-content">
              <table>
                <thead>
                <tr>
                  <th>Ảnh</th>
                  <th>Tên sách</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cartItem of cartItems; index as i">
                  <td class="product-thumbnail">
                    <a [routerLink]="['/book', cartItem.book.id]"><img [src]="cartItem.book.img_url" width="100px" height="120px"></a>
                  </td>
                  <td class="product-name"><a [routerLink]="['/book', cartItem.book.id]">{{cartItem.book.name}}</a></td>
                  <td class="product-price-cart"><span class="price">{{cartItem.book.price | currency : "VNĐ" : "" : '1.0-0'}} đ</span></td>
                  <td class="product-quantity pro-details-quality">
                    <div class="cart-plus-minus">

                      <div class="dec qtybutton" (click)="subQuantity(cartItem.cart.id, cartItem?.book.id)">-</div>
                      <input class="cart-plus-minus-box" type="text" name="qtybutton" [value]="cartItem.quantity"
                             [id]="'inputQuantity' + cartItem.cart.id + cartItem.book.id" (change)="changeQuantity(cartItem?.cart.id, cartItem?.book.id, i)">
                      <div class="inc qtybutton" (click)="addQuantity(cartItem.cart.id, cartItem?.book.id)">+</div>
                    </div>
                  </td>
                  <td class="product-subtotal price">{{cartItem.book.price * cartItem.quantity | currency : 'VNĐ' : '' : '1.0-0'}} đ</td>
                  <td class="product-remove">
                    <a (click)="deleteCartItem(cartItem?.cart.id, cartItem?.book.id)"><i class="fa-regular fa-trash-can"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="cart-shiping-update-wrapper">
                  <div class="cart-shiping-update">
                    <a href="#">Tiếp tục mua sắm</a>
                  </div>
                  <div class="cart-clear">
                    <button>Cập nhật giỏ hàng</button>
                    <a href="#">Xóa giỏ hàng</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="cart-tax">
                <div class="title-wrap">
                  <h4 class="cart-bottom-title section-bg-gray">Đo lường phí giao hàng</h4>
                </div>
                <div class="tax-wrapper">
                  <p>Nhập địa chỉ điểm đến.</p>
                  <div class="tax-select-wrapper">
                    <div class="tax-select">
                      <label>
                        * Tỉnh/thành
                      </label>
                      <select class="email s-email s-wid">
                        <option>Hà Nội</option>
                        <option>Hồ Chí Minh</option>
                        <option>Đà Nẵng</option>
                        <option>Cần Thơ</option>
                      </select>
                    </div>
                    <div class="tax-select">
                      <label>
                        * Điểm đến
                      </label>
                      <select class="email s-email s-wid">
                        <option>Hà Nội</option>
                        <option>Hồ Chí Minh</option>
                        <option>Đà Nẵng</option>
                        <option>Cần Thơ</option>
                      </select>
                    </div>
                    <div class="tax-select">
                      <label>
                        * Địa chỉ
                      </label>
                      <input type="text">
                    </div>
                    <button class="cart-btn-2" type="submit">Get A Quote</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="discount-code-wrapper">
                <div class="title-wrap">
                  <h4 class="cart-bottom-title section-bg-gray">Mã giảm giá</h4>
                </div>
                <div class="discount-code">
                  <p>Nhập mã giảm giá tại đây.</p>
                  <form>
                    <input type="text" required="" name="name">
                    <button class="cart-btn-2" type="submit">Nhập</button>
                  </form>
                </div>
              </div>
              <div class="discount-code-wrapper" style="margin-top: 10px">
                <div class="title-wrap">
                  <h4 class="cart-bottom-title section-bg-gray">Hình thức thanh toán</h4>
                </div>
                <div class="discount-code">
                  <p>Vui lòng chọn hình thức thanh toán.</p>
                  <form>
                    <input type="radio" style="height:15px; width:15px;margin-right: 5px" checked id="contactChoice1" name="payment" (change)="selectCod()" />
                    <label for="contactChoice1">Nhận hàng thanh toán</label><br>

                    <input type="radio" style="height:15px; width:15px;margin-right: 5px" id="contactChoice2" name="payment" (change)="selectPaypal()" />
                    <label for="contactChoice2">Thanh toán qua Paypal</label><br>

<!--                    <button class="cart-btn-2" type="submit">Nhập</button>-->
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-12">
              <div class="grand-totall">
                <div class="title-wrap">
                  <h4 class="cart-bottom-title section-bg-gary-cart">Giỏ hàng</h4>
                </div>
                <h5>Tổng tiền: <span>{{totalPrice | currency : 'VNĐ' : '' : '1.0-0'}} đ</span></h5>
                <div class="total-shipping">
                  <h5>Tổng phí vận chuyển</h5>
                  <ul>
                    <li><input type="checkbox" (click)="standardShip(25000)"> Standard <span>25.000 đ</span></li>
                    <li><input type="checkbox" (click)="expressShip(50000)"> Express <span>50.000 đ</span></li>
                  </ul>
                </div>
                <h4 class="grand-totall-title">Tổng thanh toán: <span>{{totalPrice | currency : 'VNĐ' : '' : '1.0-0'}} đ</span></h4>
                <a [style.display]="cod ? 'block' : 'none'" href="#">Tiến hành đặt hàng</a>
                <div [style.display]="paypal ? 'block' : 'none'" #paypalRef></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>


