<div class="logo" style="z-index: 90;position: relative">
  <a routerLink="/"><img
    src="https://png.pngtree.com/png-clipart/20220605/original/pngtree-open-book-logo-eps-png-free-download-png-image_7965241.png"
    alt="logo" style="margin-left: 20px; width: 70px;height: 70px"></a>
</div>
<section class="loginFormSection">
  <div class="bg" style="z-index: 9"></div>
  <div class="bg bg2" style="z-index: 9"></div>
  <div class="bg bg3" style="z-index: 9"></div>
  <div class="login" [ngClass]="{'right-panel-active':id==1}" id="login" style="z-index: 999">
    <div class="form-container sign-up-container col-sm-6 col-12">
      <form method="post" #flg="ngForm" [formGroup]="formSignUp" (ngSubmit)="signUp()" appFocusInvalidInput>
      <h1>Tạo tài khoản</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a class="social" (click)="signInGoogle()"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>Hoặc sử dụng email để đăng ký</span>
      <input type="text" placeholder="Họ tên" formControlName="name"/>
        <div *ngIf="nameSignUp.invalid && (nameSignUp.touched || flg.submitted)" class="text-danger message">
          <div *ngIf="nameSignUp.errors?.required">
            Tên tài khoản không được để trống.
          </div>
        </div>
        <input type="text" class="input" formControlName="username" placeholder="Tên tài khoản">
        <div *ngIf="usernameSignUp.invalid && (usernameSignUp.touched || flg.submitted)" class="text-danger message">
          <div *ngIf="usernameSignUp.errors?.required">
            Tên tài khoản không được để trống.
          </div>
          <div *ngIf="usernameSignUp.errors?.pattern">
            Tên tài khoản không được chứa ký tự đặc biệt.
          </div>
        </div>
        <input type="password" class="input" formControlName="password" placeholder="Mật khẩu">
        <div *ngIf="passwordSignUp.invalid && (passwordSignUp.touched || flg.submitted)" class="text-danger message">
          <div *ngIf="passwordSignUp.errors?.required">
            Mật khẩu không được để trống.
          </div>
        </div>
        <button type="submit">Đăng ký</button>
          </form>
    </div>
    <div class="form-container sign-in-container col-sm-6 col-12">
      <form method="post" #flg="ngForm" [formGroup]="formLogin" (ngSubmit)="login()" appFocusInvalidInput>
      <h1>Đăng nhập</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a class="social" (click)="signInGoogle()"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>hoặc bằng tài khoản của bạn</span>
        <input type="text" class="input" formControlName="username" placeholder="Tên tài khoản">
        <div *ngIf="username.invalid && (username.touched || flg.submitted)" class="text-danger message">
          <div *ngIf="username.errors?.required">
            Tên tài khoản không được để trống.
          </div>
          <div *ngIf="username.errors?.pattern">
            Tên tài khoản không được chứa ký tự đặc biệt.
          </div>
        </div>
        <input type="password" class="input" formControlName="password" placeholder="Mật khẩu">
        <div *ngIf="password.invalid && (password.touched || flg.submitted)" class="text-danger message">
          <div *ngIf="password.errors?.required">
            Mật khẩu không được để trống.
          </div>
        </div>

        <a data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;margin-right: 20px" (click)="onForgotPasswordClicked()">
          Quên mật khẩu?
        </a>
        <button type="submit">Đăng nhập</button>
        <div *ngIf="error" class="text-danger message">
          <div *ngIf="password.errors?.required">
            Tên đăng nhập hoặc Mật khẩu không đúng.
          </div>
        </div>
      </form>

    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Chào mừng trở lại!</h1>
          <p style="color: whitesmoke">Để tìm kiếm hoặc đặt mua sách vui lòng đăng nhập tài khoản của bạn</p>
          <button class="ghost" id="signIn" (click)="addClass(id=0)">Đăng nhập</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Xin Chào Quý Khách!!!</h1>
          <p style="color: whitesmoke">Vui lòng điền thông tin của bạn để trở thành thành viên của chúng tôi</p>
          <button class="ghost" id="signUp" (click)="addClass(id=1)">Đăng kí</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-loading *ngIf="loading"></app-loading>

<div #modalForgot class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-auto d-flex align-items-center h-100">
    <div class="modal-content border border-3 border-primary">
      <div class="modal-body">
        <div>
          <div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <p class="m-auto">
                    <i class="fa fa-lock fa-4x" data-bs-dismiss="modal" #closBtn></i>
                  </p>
                  <h3 class="text-center my-3">Quên mật khẩu?</h3>
                  <p class="m-1 text-danger">Vui lòng nhập email của bạn để đặt lại mật khẩu.</p>
                  <div class="panel-body">
                    <div class="loading-container">
                      <div class="balls">
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                    <form [formGroup]="formResetPass" method="post" class="m-auto" #freset (submit)="forgotPassword()"
                          appFocusInvalidInput>
                      <div class="form-group">
                        <div class="input-group">
                          <i class="fas fa-envelope"></i>
                          <input class="input-box" placeholder="Email" class="form-control"  type="email" formControlName="email">
                          <div *ngIf="email.invalid && (email.touched || freset.submitted)" class="text-danger message">
                            <div *ngIf="email.errors?.required">
                              Email không được để trống.
                            </div>
                            <div *ngIf="email.errors?.email">
                              Email không hợp lệ.
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn-send">Gửi email</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
