<div #modalForgot class="container-reset">
  <div class="modal-dialog m-auto d-flex align-items-center h-100">
    <div class="modal-content border border-2 border-primary">
      <div class="modal-body">
        <div>
          <div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <p class="m-auto">
                    <i class="fa fa-lock fa-4x" data-bs-dismiss="modal" #closBtn></i>
                  </p>
                  <h3 class="text-center my-3">Đặt lại mật khẩu</h3>
                  <div class="panel-body">
                    <form [formGroup]="formResetPass" method="post" class="m-auto" #freset (submit)="onSubmit()"
                          appFocusInvalidInput  >
                      <div class="form-group">
                        <div class="input-group">
                          <label>Mật khẩu mới<span class="star"> (*) </span></label>
                          <input class="input-box" class="form-control" type="password" formControlName="password">
                          <div *ngIf="password.invalid && (password.touched || freset.submitted)"
                               class="text-danger message-reset">
                            <div *ngIf="password.errors?.required" style="margin-left: 95px">
                              Mật khẩu không được để trống
                            </div>
                          </div>
                        </div>
                        <div class="input-group">
                          <label>Xác nhận mật khẩu<span class="star"> (*) </span></label>
                          <input class="input-box" class="form-control" type="password"
                                 formControlName="confirmPassword">
                          <div
                            *ngIf="confirmPassword.invalid && (confirmPassword.touched || freset.submitted || confirmPassword.dirty)"
                            class="text-danger message-reset">
                            <div *ngIf="confirmPassword.errors?.required" style="margin-left: 160px">
                              Mật khẩu xác nhận không được để trống
                            </div>
                            <div *ngIf="confirmPassword.errors?.confirmedValidator" style="margin-left: 140px">
                              Mật khẩu xác nhận không trùng khớp
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn-send">Đặt lại mật khẩu</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

