.modal-content {
  border-radius: 16px !important;
  padding: 2rem;
  transform: translateY(28%);
  width: 568px !important;
  margin: 0 auto !important;
}

.input-group {
  padding: 8px 12px;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

label {
  display: inline-block;
  width: 180px;
  text-align: left;
}

.input-group input {
  padding: 0.2rem 0.3rem;
  padding-left: 10px;
  border-radius: 6px;
}

.btn-send {
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 8px 12px;
  background-color: #1e7e34;
  transition: 0.3s ease-in-out;
  color: white;
  cursor: pointer;
  margin-top: 8px;
}

.btn-send:hover {
  border: 1px solid #1e7e34;
  background-color: white;
  color: #1e7e34;
  font-weight: bold;
}

.message-reset {
  position: absolute;
  margin-top: 60px;
  font-size: 15px;
  padding: 8px 12px;
  margin-left: 160px;
  width: 600px;
}

.star {
  color: red;
}
.container-reset{
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
